<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://healthbottokenapiservice.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/6ea593bc-40ca-4efc-a3cd-107b29331036/resourcegroups/nkidambi-healthbotTeams/providers/Microsoft.Web/sites/HealthbotTokenAPIService</ResourceId>
    <UserName>$HealthbotTokenAPIService</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://healthbottokenapiservice.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>